<div class="close-button"></div>
<div id="editor">
  <div id="sample-controls">
    <button id="new-sample-button">New</button>
    <button id="delete-sample-button">Delete</button>
  </div>
  <div id="editor-main-column">
    <div id="sample-info-container" style="display:none">
      <div class="label-and-field time-input">
        <label>Start</label>
        <%= text_field_tag "start", "" %>
      </div>
      <div class="label-and-field time-input">
        <label>End</label>
        <%= text_field_tag "end", "" %>
      </div>
      <div class="label-and-field" id="artist-input-container"
        <label>Artist</label>
        <%= text_field_tag "artist", "" %>
      </div>
      <div class="label-and-field" id="title-input-container">
        <label>Title</label>
        <%= text_field_tag "title", "" %>
      </div>
      <div class="label-and-field" style="display:none" id="sample-list-container">
        <label>Sampled Tracks</label>
        <select id="sample-list">
          <option value="-1"></option>
        </select>
      </div>
      <div class="label-and-field" id="flag-indicator-container">
        <label>Flag</label>
        <%= check_box_tag "flagged", "1", false, {:id => "flagged-checkbox"} %>
      </div>

      <div style="clear:both"></div>
      <div id="current-time-container">
        Playpoint: <span id="current-time">0:00.00</span><br />
        Set <a id="start-at-current">start</a> <a id="end-at-current">end</a>
      </div>
    </div>
    <div id="landing-text" style="display:none">
      <ul>
        <li>Click a sample to edit, or</li>
        <li>Create a new sample with the button on the left</li>
      </ul>
    </div>
  </div>
  <div id="file-controls">
    <div class="label-and-field">
      <label>Sample Set Name</label>
      <%= text_field_tag "sample_set_name", "" %>
    </div>
    <button id="save-button">Save</button>
    <button id="load-button">Load</button>
  </div>
</div>

