<div class="text-content" %>
  <h1>About <%= link_to "All Day Breakdown", {:action => "visualizer"} %></h1>

  <p>
    <%= link_to "All Day", "http://illegal-art.net/allday/" %>
    is the 5th album by the spectacular <%= link_to "Girl Talk",
    "http://www.facebook.com/girltalkmusic" %>, composed
    from samples of <%= link_to "372 songs",
    "http://illegal-art.net/allday/samples.html" %> by other artists.
    This <%= link_to "visual breakdown", {:controller => "content",
    :action => "visualizer"} %> is an attempt to give a sense of
    what's going on.
  </p>
  <p>

    I've gathered the information about the timing of the samples from
    <%= link_to "Wikipedia",
    "http://en.wikipedia.org/wiki/All_Day#Track_listing_and_samples_used"
    %> and from <%= link_to "AllDaySamples",
    "http://alldaysamples.com" %>.  They disagree quite a bit, and you
    can switch between the two.  As of this writing, Wikipedia only has
    start times, not end times, so I've treated all samples as if they are
    30 seconds long.
  </p>
  <p>
    &mdash; <%= link_to "@brahn", "http://twitter.com/brahn" %>
  </p>

  <h2>Thanks</h2>

  <ul>
    <li>
      <%= link_to "Girl Talk", "http://www.facebook.com/girltalkmusic" %> for
      the album, licensing it for remixing via
      <%= link_to "Creative Commons", "http://creativecommons.org/licenses/by-nc/3.0/us/" %>, and being awesome.
    </li>
    <li>
      Angela Watercutter at <%= link_to "Wired", "http://www.wired.com/" %> for
      posting the inspiring
      <%= link_to "Beat-by-beat breakdown", "http://www.wired.com/special_multimedia/2008/pl_music_1609" %> of "What It's All About" off Girl Talk's
      previous album.
    </li>
    <li>
      <%= link_to "TheHPJC", "http://www.youtube.com/user/TheHPJC" %> for
      posting the album to YouTube.
    </li>
    <li>Travis McLeskey at of <%= link_to "AllDaySamples",
        "http://alldaysamples.com/" %> for including sample end times
        in his data.
    </li>
    <li>
      Ben Bodien at <%= link_to "Neutron Creations",
      "http://neutroncreations.com/" %> for
      his post about <%= link_to "building a custom playback widget",
      "http://neutroncreations.com/blog/building-a-custom-html5-audio-player-with-jquery/" %>, from which I shamelessly stole the styling.
    </li>
  </ul>
</div>