<% content_for :page_header do %>
  <%= javascript_include_tag "album-seeds" %>
  <%= javascript_include_tag "data-retriever" %>
  <%= javascript_include_tag "album" %>
  <%= javascript_include_tag "youtube" %>
  <%= javascript_include_tag "third/soundcloud.player.api.js" %>
  <%= javascript_include_tag "soundcloud" %>
  <%= javascript_include_tag "html5audio" %>
  <%= javascript_include_tag "media" %>
  <%= javascript_include_tag "visualizer" %>
  <%= javascript_include_tag "playback-controls" %>
  <%= javascript_include_tag "album-controls" %>
  <%= javascript_include_tag "editor" %>
  <%= javascript_include_tag "uspop2010-temp-import" %>

  <% javascript_tag do %>
    $(document).ready(function () {
      <%= setup_js_var "albumId", params[:album_id], "all-day" %>
      var albumSeed = getAlbumSeedById(albumId);
      if (albumSeed) {
        Album.init(albumSeed);
      } else {
        $("#no-album-dialog").dialog("open")
      }
      <%= setup_js_var "show_album_index", params[:show_album_index], nil %>
      if (show_album_index) {
        $("#artists-and-albums-dialog").dialog("open");
      }
    });

    Album.onInit.push(function () {
      MediaPlayer.setupAlbum(Album.get(), {
        failureCallback: function () {
          $("#media-error-dialog").dialog("open");
        }
      });
    });

    var featureVideo = function (doFeature) {
      if (doFeature) {
        $('#page').addClass('feature-video');
      } else {
        $('#page').removeClass('feature-video');
      }
      MediaPlayer.resizeToContainer();
    };

    MediaPlayer.onAlbumSetup.push(function () {
      featureVideo(Album.get("featureVideo"));
    });
    $(document).ready(function () {
      $(window).resize(function () {
        waitForFinalEvent(MediaPlayer.resizeToContainer,
          WINDOW_RESIZE_CALLBACK_DELAY, "MediaPlayer.resizeToContainer");
      });
    })

  <% end %>
<% end %>



<%= render :partial => "content/visualizer_header" %>
<div id="yt-container" class="flash-player-container">
  <%# gets replaced when player inserted %>
  <div id="yt-player-standin" class="flash-player"></div>
</div>

<div id="sc-container" class="flash-player-container">
  <%# gets replaced when player inserted %>
  <div id="sc-player-standin" class="flash-player"></div>
  <%= link_to "", "http://soundcloud.com", {:id => "sc-logo",
      :target => "_blank"} %>
</div>

<div id="audio-container" class="flash-player-container">
  <%# gets replaced when player inserted %>
  <div id="audio-player-standin" class="flash-player"></div>
  <%= link_to "", "http://soundcloud.com", {:id => "sc-logo",
      :target => "_blank"} %>
</div>


<div id="media-error-dialog" style="display:none">
  <p>
    Hmm, the music won't play.
  </p>
  <p>
    If you have a flash blocker, try disabling it.
    Or you can just  try <%= link_to_function "reloading", "window.location.reload()" %>.
  </p>
  <p>
    If that doesn't help, please <%= link_to "leave feedback", {:controller => "content", :action => "feedback"}, {:target => "_blank"} %> (please include your browser and operating system) and I'll see what I can do!
  </p>
</div>

<div id="editor-container">
  <%= render :partial => "editor" %>
</div>

<div id="visualizer">
  <div id="samples-container">
    <div id="samples">
    </div>
  </div>
  <div class="player">
    <span id="playtoggle"></span>
    <span id="gutter">
      <span id="buffer-container">
        <span id="buffer"></span>
      </span>
      <span id="handle" class="ui-slider-handle">
        <div id="handle-time-point" style="display:none"></div>
        <span id="handle-tail" style="display:none"></span>
      </span>
    </span>
    <span id="timeleft"></span>
  </div>
</div>

