<div id="application-header">
  <div id="header-content-right">
  <%= link_to "About", BLOG_URL_BASE + "/pages/about",
      {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Blog", BLOG_URL_BASE, {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to_unless_current "Feedback", {:controller => "content", :action => "feedback"}, {:target => "_blank"} %>
  </div>

  <span id="header-content-left">
    <a id="logo" href="/">MASHUP BREAKDOWN</a>
    <% if SHOW_ARTISTS_AND_ALBUMS %>
      &nbsp;|&nbsp;
      <% if @is_visualizer %>
        <a id="artists-and-albums-link" style="cursor: pointer">
          More Artists & Albums
        </a>
      <% else %>
        <%= link_to "Artists & Albums", "/index" %>
      <% end %>
    <% end %>
  </span>
</div>

<% if SHOW_ARTISTS_AND_ALBUMS %>
<div id="artists-and-albums-dialog" style="display:none">
  <ul class="compact">
    <li><%= link_to_album "E-603 - Torn Up", "torn-up" %></li>
    <li><%= link_to_album "Girl Talk - All Day", "all-day" %></li>
    <li><%= link_to_album "Girl Talk - Feed the Animals",
              "feed-the-animals" %></li>
    <% if false %>
    <li><%= link_to_album "Girl Talk - Night Ripper",
              "night-ripper" %></li>
    <% end %>
    <li><%= link_to_album "Ithaca Music - Don't Hold Back, just " +
               "Push Things Forward", "dhbjptf" %></li>
    <li><%= link_to_album "The Kleptones - A Night at the Hip-Hopera",
              "nhh" %></li>
    <li><%= link_to_album "scntfc - mass.rsrction.7", "mass-rsrction-7" %></li>
    <li><%= link_to_album "Trial & Error - Oldskool Mashup", "oldskool" %></li>
  </ul>
  <p>&nbsp;</p>
  <p class="text-content">
    Want a breakdown of an album not listed here?<br />
    <%= link_to "Make it happen",
        "http://blog.mashupbreakdown.com/making-more-breakdowns",
         {:target => "_blank"} %>.
  </p>
</div>
<% end %>

<div id="no-album-dialog" style="display:none">
  <p>
    Sorry, couldn't find that album.
  </p>
  <p>
    <%= link_to_function "Complete Album Listing",
      "$('#no-album-dialog').dialog('close'); $('#artists-and-albums-dialog').dialog('open')" %>
  </p>
</div>