<%# XXX This is completely the wrong place for this stuff. %>
<div id="license-note-container" class="footer-content footer-left">
  <span id="all-day-license-note" class="license-note">
  All Day is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="hdmdml-license-note" class="license-note">
  This album is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="whiskey-glitch-license-note" class="license-note">
  This album is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="feed-the-animals-license-note" class="license-note">
  Feed the Animals is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="feed-the-animals-video-license-note" class="license-note">
  Feed the Animals is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="night-ripper-license-note" class="license-note">
    This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
    All musical elements retain copyrights of original artists.
  </span>
  <span id="oldskool-license-note" class="license-note">
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
  <span id="dhbjptf-license-note" class="license-note">
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
  <span id="nhh-license-note" class="license-note">
  A Night at the Hip-Hopera is available No Rights Reserved.  &nbsp;Sweet.
  &nbsp;This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  </span>
  <span id="mass-rsrction-7-license-note" class="license-note">
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
  <span id="smokeshow-license-note" class="license-note">
    This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
    All musical elements retain copyrights of original artists.
  </span>
  <span id="torn-up-license-note" class="license-note">
  Torn Up is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
<%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="culture-shock-license-note" class="license-note">
    Culture Shock is available for free download on the <%= link_to "artist's web site", "http://titusjones.com", :target => "_blank" %>.  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  </span>
  <span id="autobob-pop-license-note" class="license-note">
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  </span>
  <span id="summer-style-license-note" class="license-note">
    The Summer Style LP is available under a
    <%= link_to "Creative Commons License",
        "http://creativecommons.org/licenses/by-sa/3.0/",
        :target => "_blank" %>.
    (This site is, too:
    <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="aphrodisiac-license-note" class="license-note">
  Aphrodisiac is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="uspop2010-license-note" class="license-note">
  Top three lines are vocals; bottom four are instrumentals.<br />
  <br />
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
  <span id="uspop2009-license-note" class="license-note">
  Top three lines are vocals; bottom five are instrumentals.<br />
  <br />
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
  <span id="gimme-intros-license-note" class="license-note">
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  All musical elements retain copyrights of original artists.
  </span>
</div>

<% if false %>
<div class="footer-content footer-right" style="color: #888">
  <%= link_to "About/Thanks/Contact", BLOG_URL_BASE + "/pages/about",
      {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Blog", BLOG_URL_BASE, {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to_unless_current "Feedback", {:controller => "content", :action => "feedback"}, {:target => "_blank"} %>
</div>
<% end %>
