<div id="license-note-container" class="footer-content footer-left">
  <span id="all-day-license-note" class="license-note">
  All Day is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="feed-the-animals-license-note" class="license-note">
  Feed the Animals is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="feed-the-animals-video-license-note" class="license-note">
  Feed the Animals is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="nhh-license-note" class="license-note">
  A Night at the Hip-Hopera is available No Rights Reserved.  &nbsp;Sweet.
  &nbsp;This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  </span>
  <span id="mass-rsrction-7-license-note" class="license-note">
  All musical elements retain copyrights of original artists.
  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.
  </span>
  <span id="torn-up-license-note" class="license-note">
  Torn Up is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)
  </span>
  <span id="culture-shock-license-note" class="license-note">
    Culture Shock is available for free download on the <%= link_to "artist's web site", "http://titusjones.com", :target => "_blank" %>.  This site is
    <%= link_to "Creative Commons licensed BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.

  </span>
</div>

<% if false %>
<div class="footer-content footer-right" style="color: #888">
  <%= link_to "About/Thanks/Contact", BLOG_URL_BASE + "/pages/about",
      {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Blog", BLOG_URL_BASE, {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to_unless_current "Feedback", {:controller => "content", :action => "feedback"}, {:target => "_blank"} %>
</div>
<% end %>