<div id="all-day-license-note" class="footer-content footer-left" style="display:none">
    <%= link_to "All Day", "http://illegal-art.net/allday/", :target => "_blank" %>
  is available under
  <%= link_to "Creative Commons License", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>. &nbsp;Sweet.  &nbsp;(This site is, too:
  <%= link_to "CC BY-NC 3.0", "http://creativecommons.org/licenses/by-nc/3.0/us/", :target => "_blank" %>.)

</div>

<% if false %>
<div class="footer-content footer-right" style="color: #888">
  <%= link_to "About/Thanks/Contact", BLOG_URL_BASE + "/pages/about",
      {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Blog", BLOG_URL_BASE, {:target => "_blank"} %>
   &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to_unless_current "Feedback", {:controller => "content", :action => "feedback"}, {:target => "_blank"} %>
</div>
<% end %>